<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        html, body {
            height: 100%;
            overflow: hidden;
        }
        body {
            display: flex;
            align-items: center;
            gap: 24px;
            justify-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .form-grid {
          display: grid;
          grid-template-columns: auto 160px;
          gap: 8px 12px;
        }

        .alert {
          background-color: lightpink;
          padding: 8px 4px;
          font-weight: bold;
          border: 1px solid red;
          border-radius: 4px;
        }
    </style>
</head>

<body>
    {{#if sessionMessage }}
      <div class="alert">
        {{sessionMessage}}
      </div>
    {{/if}}
    {{#if google }}
      <div>
        <h3>Google login</h3>
        <p>
            <a id="google-login-link" href="#"><img src="{{pathPrefix}}/assets/img/logo/google_signin.png" /></a>
        </p>
      </div>
    {{/if }}

    {{#if ldap }}
      <div>
        <h3>{{ pluginConfig.ldap.title }}</h3>
        <p>
            <form method="post" action="login/ldap" class="form-grid">
                <label for="ldap-username">Username</label>
                <input id="ldap-username" type="text" name="username" />
                <label for="ldap-password">Password</label>
                <input id="ldap-password" type="password" name="password" />
                <input type="submit" value="Login" />
            </form>
        </p>
      </div>
    {{/if }}

    {{#if couchdb }}
      <div>
        <h3>{{ pluginConfig.couchdb.title }}</h3>
        <p>
            <form method="post" action="login/couchdb" class="form-grid">
                <label for="couchdb-username">Username</label>
                <input id="couchdb-username" type="text" name="username" />
                <label for="couchdb-password">Password</label>
                <input id="couchdb-password" type="password" name="password" />
                <input type="submit" value="Login" />
            </form>
        </p>
      </div>
    {{/if }}

    {{#if oidc }}
      <div>
        <h3>{{ pluginConfig.oidc.title }}</h3>
        <p>
          <a href="login/oidc">Click here to login with {{ pluginConfig.oidc.title }}</a>
        </p>
      </div>
    {{/if }}
</body>
<script>
    if (window.name === 'loginPopup' && location.href.match(/auth\/login/i)) {
        window.close();
    }
    var google = document.getElementById('google-login-link');
    if (google) {
        google.onclick = function () {
            var url = 'login/google';
            doLogin(url);
        };
    }

    function doLogin(url) {
        if (window.parent !== window) {
            url += '/popup';
            var popup = window.open(url, 'loginPopup');
            var interval = setInterval(function () {
                if (popup.closed) {
                    clearInterval(interval);
                    window.location.reload();
                }
            }, 250)
        } else {
            window.location = url;
        }
    }
</script>

</html>
